* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* background-color: rgb(42, 75, 42); */
  background: linear-gradient(to right, #000, rgb(29, 29, 29));
  color: #fff;
}

body {
  font-family: sans-serif;
  line-height: 1;
}

.container {
  width: 700px;
  margin: 15vh auto;
  text-align: center;
  background: none;
  position: relative;
}

h1 {
  margin-bottom: 25px;
  font-size: 50px;
}

.player-cont {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

p {
  text-transform: uppercase;
}

.player-score,
.computer-score {
  font-weight: bold;
  font-size: 20px;
}
img {
  width: 175px;
  height: 175px;
}

.hidden {
  display: none;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #000;
  z-index: 10;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 50px;
  width: 500px;
  border-radius: 20px;
  letter-spacing: 3px;
  /* font-weight: bold; */
  height: 100px;
  border: 3px solid #fff;
}

.start-btn:hover {
  border: 3px solid #000;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.winner {
  position: absolute;
  z-index: 11;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 32px;
}
